/* 화면 전체를 불투명한 창으로 덮기 */
.background_login {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.3);
  z-index: 1000;
  
  /* 화면에서 숨기기 */
  z-index: -1;
  opacity: 0;
}

/* 화면에 보이기 */
.show_login {
  opacity: 1;
  z-index: 1000;
  transition: all .5s;
}

.window_login {
  position: relative;
  width: 100%;
  height: 100%;
}

.popup_login {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #ffffff;
  box-shadow: 0 2px 7px rgba(0, 0, 0, 0.3);
  border-radius: 2%;
  
  /* 팝업창 크기 */
  width: 500px;
  height: 420px;
  
  /* 초기에 약간 아래에 배치 */
  transform: translate(-50%, -40%);
}

.show_login .popup_login {
  transform: translate(-50%, -50%);
  transition: all .5s;
}

/* ============================================== */

/* 로그인 팝업창 내부 */
form {
  border: 3px solid #f1f1f1;
}

/* 아이디, 패스워드 입력창 */
input[type=text], input[type=password] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

/* 로그인버튼, 취소버튼 */
.login_btn {
  background-color: #04AA6D;
  color: white;
  padding: 14px 20px;
  margin: 8px 0px;
  border: none;
  cursor: pointer;
  width: 100%;
  font-size: 16px;
}

/* 팝업창 내부 컨테이너 */
.container_login {
  padding: 16px;
}

/* 아이디찾기, 비밀번호찾기 */
.find {
  float: right;
  padding-top: 32px;
  margin-left: 20px;
}
