.table-clause {
  width: 100%;
}

.table-clause, td {
  border: 1px solid black;
  border-collapse: collapse;
}

.table-clause-content {
  color: darkgray;
  padding-left: 15px;
}

#copy-content {
  font-size: 16px;
  width: 100%;
}

